@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=RocknRoll+One&display=swap');

:root{
    --base: #232136;
    --surface: #2a273f; 
    --overlay: #393552;
    --inactive: #59546d; 
    --subtle: #817c9c; 
    --text: #e0def4; 
    --textarea: #9ccfd8;
}

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    color: var(--text);
    background-color: var(--base);
    font-family: 'RocknRoll One', sans-serif;
}

.container{
    background-color: var(--surface);
    display: grid;
    grid-template-columns: minmax(0ppx, auto) 1fr;
    grid-template-rows: 60px 1fr 1fr 50px;
    grid-template-areas: 
    'h'
    'm'
    'f';
}

nav{
    grid-area: h;
    display: flex;
    justify-content: center;
    padding: 5px;
}
li {
    text-decoration: none;
    list-style-type: none;
}

.wrapper{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: m;
    text-align: center;
}


.cart-row{
    background-color: var(--subtle);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer{
    grid-area: f;
    text-align: center;
    
}


h1{
    font-family: 'Indie Flower', cursive;
    font-size: 4rem;
    background-color: var(--inactive);
}

h2{
    font-size: 2.5rem;
}

@media screen and (min-width: 640px) {
    
    .wrapper{
        font-size: 1.5rem;
        grid-area: m;
    }
    
    .shop-items{
        display: grid;
        grid-template-areas: 
        'a a'
        'a a';
    }
    
    .section-item{
        grid-area: 'a';
    }
    
    
    h2{
        font-size: 2rem;
    }
}